*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-accent-primary: #BB883A;
  --clr-header: #0B0912;
}

li {
  list-style: none;
}

.page-wrapper {
  background: var(--clr-header);
  width: 100%;
  margin: 0 auto;
}

.page-wrapper {
  background: #0B0912;
  width: 100%;
  margin: 0 auto;
}

/* .header-wrapper--main {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 2rem 0rem 2rem;
}

.header-wrapper--main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ECE6DA;
  opacity: .1;
}

.logo {
  color: #BB883A;
  font-size: 24px; 
  padding: 1rem 0;
} */