*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-light-100: #ECE6DA;
  --clr-accent-primary: #BB883A;
  --clr-accent-primary-rgb: rgb(187, 136, 58);
  --clr-light-100-border-rgba: rgba(236, 230, 218, 0.3);
  --clr-header: #0B0912;
  --clr-accent-red: #742F2C;

  --clr-error-message: #e17f7a;

  --clr-background-registration: #081325;
}

li {
  list-style: none;
}

.page-wrapper {
  background: var(--clr-header);
  width: 100%;
  margin: 0 auto;
}

/* .page-wrapper {
  background: #0B0912;
  width: 100%;
  margin: 0 auto;
} */

/* .header-wrapper--main {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 2rem 0rem 2rem;
}

.header-wrapper--main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--clr-light-100);
  opacity: .1;
}

.logo {
  color: #BB883A;
  font-size: 24px; 
  padding: 1rem 0;
} */

/* Registration page */
.registration-page-wrapper {
  height: calc(100vh - 64px);
  min-height: 450px;
  background: var(--clr-background-registration);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: hidden;
  place-items: center;
}

.imageContainer--background  {
  display: none;
}

.imageContainer {
  height: calc(100vh - 64px);
  min-height: 450px;
  width: 100%;
  max-width: 1000px;
  object-fit: cover;
  overflow-y: hidden;
}

.image-full-screen-container {
  position: relative;
}

.overlay-of-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(8,19,37, 0.1) 81%, rgba(8,19,37, 1) 100%),
              linear-gradient(-90deg, rgba(8,19,37, 0.11) 81%, rgba(8,19,37,1) 100%);
}

/* Registration Form */
.form-registration-container {
  position: relative;
  padding: 1.3rem 1.3rem;
  width: clamp(300px, 80%, 500px);
  background: #08101F;
  border-radius: 5px;
  /* border: 1px solid white; */
  box-shadow: 1px 1px 15px 4px rgba(176, 192, 224, 0.15)
}

@media screen and (min-width: 2000px) {
  .image-full-screen-container {
      justify-self: end;
  }
}

.form-registration-container::before,
.form-registration-container::after {
  content: "";
  position: absolute;
  background: var(--clr-accent-red); 
  opacity: 0.7;
}

.form-registration-container::before {
  left:-25px;
  top: -15px;
  width: 50%;
  height: 1px;
}

.form-registration-container::after {
  left:-15px;
  top: -25px;
  width: 1px;
  height: 50%;
}

@media screen and (max-width: 750px) {
  .registration-page-wrapper {
    position: relative;
    width: 100%;
    grid-template-columns: 1fr;
  }

  .imageContainer--background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.05;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .image-full-screen-container {
    display: none;
  }

  .form-registration-container {
    width: calc(100% - 4rem);
  }

  .form-registration-container::before,
  .form-registration-container::after {
    display: none;
  }
}

.form-registration {
  display: flex;
  flex-direction: column;
  font-family: var(--font-roboto);
}

.form-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-registration-header {
  padding-bottom: 0.3rem;
  font-size: 2rem;
  color: var(--clr-light-100);
  font-weight: 400;
  font-family: var(--font-cinzel);
}

.form-error-message {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: var(--clr-error-message, red);
  font-size: 14px;
  font-weight: 300;

}

.form-error-message span {
  padding-top: 1px;
  margin-left: 7px;
}

.form-registration-label {
  padding-bottom: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #EFF9FB;
  text-transform: uppercase;
  opacity: .6;
}

.form-registration-input {
  padding: .5rem .5rem;
  margin-bottom: 1.3rem;
  border-radius: 5px;
  background: #141D2D;
  border: none;
  color: var(--clr-light-100);
  font-size: 1rem;
  font-family: var(--font-roboto);
}

.form-registration-button {
  margin-top: 0.3rem;
  padding: 0.2rem 1rem;
  background: var(--clr-accent-red); 
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 24px; 
  font-family: var(--font-cinzel);
  font-weight: 600;
  color: var(--clr-light-100);
  cursor: pointer;
}

.form-registration-button:hover {
  border: 2px solid var(--clr-accent-red);
  background: inherit;
}

.form-registration-text--container {
  display: flex;
  justify-content: flex-end;
  align-items: center;;
  gap: 5px;
  padding-top: 0.5rem;
  color: var(--clr-light-100);
  font-size: 14px;
}

.form-registration-link-text {
  color: var(--clr-light-100);
  text-decoration: none;
}

.form-registration-link-text:hover {
  color: var(--clr-accent-red); 
  text-decoration: underline;
  text-decoration-color: var(--clr-accent-red); 
}

@media screen and (max-width: 400px) { 
  .form-registration-container {
    margin-top: 5rem;
    align-self: start;
    background: rgba(8, 16, 31, 0.2);
    backdrop-filter: blur(10px);
  }

  .form-registration-header {
    padding-bottom: 1.1rem;
    font-size: 1.5rem;
  }

  .form-registration-input {
    padding: .5rem .5rem;
    font-size: 14px;
  }

  .form-registration-button {
    padding: 0.4rem 1rem;
    font-size: 16px; 
  }
}
