*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-accent-primary: #BB883A;
  --clr-header: #0B0912;

  --clr-background-registration: #081325;
}

li {
  list-style: none;
}

.page-wrapper {
  background: var(--clr-header);
  width: 100%;
  margin: 0 auto;
}

/* .page-wrapper {
  background: #0B0912;
  width: 100%;
  margin: 0 auto;
} */

/* .header-wrapper--main {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 2rem 0rem 2rem;
}

.header-wrapper--main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ECE6DA;
  opacity: .1;
}

.logo {
  color: #BB883A;
  font-size: 24px; 
  padding: 1rem 0;
} */

/* Registration page */
.registration-page-wrapper {
  height: calc(100vh - 61px);
  min-height: 450px;
  background: var(--clr-background-registration);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: hidden;
  place-items: center;
  /* overflow-y: scroll; */
   /* background: linear-gradient(90deg, rgba(69,71,75,1) 81%, rgba(8,19,37,0.9387955011106005) 100%); */
}

.imageContainer--background  {
  display: none;
}


.imageContainer {
  height: calc(100vh - 61px);
  min-height: 450px;
  width: 100%;
  max-width: 1000px;
  /* justify-self: end; */
  object-fit: cover;
  /* object-position: center; */
  overflow-y: hidden;
}

.place-end {
  /* justify-self: center; */
  /* z-index: 5; */
  /* background: linear-gradient(90deg, rgba(69,71,75,1) 81%, rgba(8,19,37,0.9387955011106005) 100%); */
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(8,19,37, 0.1) 81%, rgba(8,19,37, 1) 100%),
  linear-gradient(-90deg, rgba(8,19,37, 0.11) 81%, rgba(8,19,37,1) 100%);
}


/* Registration Form */

.form-registration-container {
  position: relative;
  width: clamp(300px, 80%, 500px);
  /* width: 80%;
  max-width: 500px; */
  background: #08101F;
  /* background: rgba(8, 16, 31, 0.1); */
  backdrop-filter: blur(10px);
  /* border: 1px solid red; */
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 4px rgba(67, 68, 70, 0.2)
}

@media screen and (min-width: 2000px) {
  .relative {
      justify-self: end;
  }
}



.form-registration-container::before {
  content: "";
  position: absolute;
  left:-25px;
  top: -15px;
  width: 50%;
  height: 1px;
  background: #742F2C; 
  /* background: #434446;  */
  opacity: 0.3;
}

.form-registration-container::after {
  content: "";
  position: absolute;
  left:-15px;
  top: -25px;
  width: 1px;
  height: 50%;
  background: #742F2C; 
  /* background: #434446;  */
  opacity: 0.3 ;
}

@media screen and (max-width: 650px) {
  .registration-page-wrapper {
    position: relative;
    width: 100%;
    grid-template-columns: 1fr;
    /* place-items: center; */
    /* align-items: flex-start; */
    /* overflow-y: scroll; */
  }

  .imageContainer--background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.05;
    width: 100%;
    /* min-width: 500px; */
    /* height: 700px; */
    /* object-fit: cover; */
    overflow: hidden;
  }

  .relative {
    display: none;
  }

  /* .imageContainer {
    display: none;
  } */

  .form-registration-container {
    width: calc(100% - 4rem);

  }

  .form-registration-container::before,
  .form-registration-container::after {
    display: none;
  }
  
}





.form-registration {
  display: flex;
  flex-direction: column;
  
}

.form-registration-header {
  padding-bottom: 1.5rem;
  font-size: 2rem;
  color: #ECE6DA;
  font-weight: 400;
}

.form-registration-label {
  padding-bottom: 5px;
  font-size: 0.75rem;
  font-weight: 400;
  color: #EFF9FB;
  text-transform: uppercase;
  opacity: .6;
}

.form-registration-input {
  padding: .5rem .5rem;
  margin-bottom: 1.2rem;
  border-radius: 5px;
  background: #141D2D;
  border: none;
  color: #ECE6DA;
  font-size: 1rem;
}

.form-registration-button {
  margin-top: 0.3rem;
  padding: 0.2rem 1rem;
  background: #742F2C;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 24px; 
  color: #ECE6DA;

}

.form-registration-text--container {
  display: flex;
  justify-content: flex-end;
  align-items: center;;
  gap: 5px;
  padding-top: 0.5rem;
  color: #ECE6DA;
  font-size: 12px;

}

.form-registration-link-text {
  color: #ECE6DA;
  text-decoration: none;
}

.form-registration-link-text:hover {
  color: #742F2C;
  text-decoration: underline;
  text-decoration-color: #742F2C;
}

@media screen and (max-width: 400px) { 

  .form-registration-container {
    margin-top: 5rem;
    align-self: start;
       background: rgba(8, 16, 31, 0.2);
       backdrop-filter: blur(10px);
  }

  .form-registration-header {
    padding-bottom: 1.1rem;

    font-size: 1.5rem;

  }

  .form-registration-input {
    padding: .5rem .5rem;

    font-size: 14px;
  }

  .form-registration-button {
    margin-top: 0.3rem;
    padding: 0.4rem 1rem;
    background: #742F2C;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px; 
    color: #ECE6DA;
  
  }
}
